# Description: Example of .env file
# Usage: Copy this file to .env and set the values

# NOTE: Changes to this file will not take effect until the project service is 'stopped' and 'started'
# It is not enough to just use the VS Code 'restart' button

# Assistant Service
# The ASSISTANT__ prefix is used to group all the environment variables related to the assistant service.
ASSISTANT__AZURE_OPENAI_ENDPOINT=https://<YOUR-RESOURCE-NAME>.openai.azure.com/
ASSISTANT__AZURE_OPENAI_API_KEY=...
