{
  "version": "0.2.0",
  "configurations": [
    {
      "type": "debugpy",
      "request": "launch",
      "name": "mcp-servers: {{ project_slug }}",
      "cwd": "${workspaceFolder}",
      "module": "{{ module_name }}.start",
      "args": ["--transport", "sse", "--port", "{{ default_port }}"],
      "consoleTitle": "{{ project_slug }}"
      // "justMyCode": false // Set to false to debug external libraries
    }
  ]
}
