# files

**/.DS_Store
**/.dockerignore
**/.env
**/.env.example
**/.gitignore
**/Dockerfile
**/Dockerfile.*
**/Makefile

# dirs

.github
.devcontainer
**/.vscode
**/.data
**/__pycache__
**/.pytest_cache
**/.venv
.azure
