# Private settings
**/certs/*.pem
**/certs/config.json
**/certs/mkcert
.env
*.local
*.user
*__local__*
.data
.idea/
appsettings.*.json

# Dependencies and build cache
node_modules
.venv
__pycache__
.pytest_cache
.ruff_cache
.cache
*.egg-info
bin
obj
dist
build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
