[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ description }}"
authors = [{ name = "{{ author_name }}" }]
readme = "README.md"
requires-python = ">=3.11"
dependencies = ["mcp>=1.2.1"]

[dependency-groups]
dev = ["pyright>=1.1.389"]

[tool.uv]
package = true

[project.scripts]
{{ project_slug }} = "{{ module_name }}.start:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
