# {{ short_name }} MCP Server

{{ description }}

This is a [Model Context Protocol](https://github.com/modelcontextprotocol) (MCP) server project.

## Setup and Installation

Simply run:

```bash
make
```

To create the virtual environment and install dependencies.

### Running the Server

Use the VSCode launch configuration, or run manually:

Defaults to stdio transport:

```bash
uv run {{ project_slug }}
```

For SSE transport:

```bash
uv run {{ project_slug }} --transport sse --port {{ default_port }}
```

The SSE URL is:

```bash
http://127.0.0.1:{{ default_port }}/sse
```

## Client Configuration

To use this MCP server in your setup, consider the following configuration:

### Stdio

```json
{
  "mcpServers": {
    "{{ project_slug }}": {
      "command": "uv",
      "args": ["run", "-m", "{{ module_name }}.start"]
    }
  }
}
```

### SSE

```json
{
  "mcpServers": {
    "{{ project_slug }}": {
      "command": "http://127.0.0.1:{{ default_port }}/sse",
      "args": []
    }
  }
}
```
