# Description: Example of .env file
# Usage: Copy this file to .env and set the values

# NOTE:
# - Environment variables in the host environment will take precedence over values in this file.
# - When running with VS Code, you must 'stop' and 'start' the process for changes to take effect.
#   It is not enough to just use the VS Code 'restart' button

# Assistant Service
# The ASSISTANT__ prefix is used to group all the environment variables related to the assistant service.
ASSISTANT__ENABLE_DEBUG_OUTPUT=True
