# This file contains the environment variables for the project

# NOTE: Changes to this file will not take effect until the project service is 'stopped' and 'started'
# It is not enough to just use the VS Code 'restart' button

# Assistant Service
ASSISTANT__AZURE_OPENAI_ENDPOINT=https://lightspeed-team-shared-openai.openai.azure.com/
ASSISTANT__AZURE_CONTENT_SAFETY_ENDPOINT=https://lightspeed-content-safety.cognitiveservices.azure.com/

# Assistant Service Registration
# NOTE: uncomment to run against remote workbench service
# ASSISTANT__ASSISTANT_SERVICE_ID=<set up via Semantic Workbench > Settings > Assistant Service Registration>
# ASSISTANT__WORKBENCH_SERVICE_API_KEY=<set up via Semantic Workbench > Settings > Assistant Service Registration>
# ASSISTANT__WORKBENCH_SERVICE_URL=https://semantic-workbench-service.azurewebsites.net/
