[project]
name = "skill-library"
version = "0.1.0"
description = "MADE:Exploration Skill library"
authors = [{name="MADE:Explorers"}]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "assistant-drive>=0.1.0",
    "assistant-extensions[attachments]>=0.1.0",
    "events>=0.1.0",
    "openai-client>=0.1.0",
    "openai>=1.16.1",
    "pydantic-settings>=2.3.4",
    "pydantic>=2.6.1",
    "python-dotenv>=1.0.1",
    "python-liquid>=1.12.1",
    "requests>=2.32.0",
    "tiktoken>=0.8.0",
    "jsonschema>=4.23.0",
    "bs4>=0.0.2",
]

[dependency-groups]
dev = [
    "pyright>=1.1.389",
    "pytest>=8.3.1",
    "pytest-asyncio>=0.23.8",
    "pytest-repeat>=0.9.3",
]

[tool.uv.sources]
assistant-drive = { path = "../../assistant-drive", editable = true }
assistant-extensions = { path = "../../assistant-extensions", editable = true }
events = { path = "../../events", editable = true }
openai-client = { path = "../../openai-client", editable = true }

[tool.setuptools.package-data]
"skill_library" = ["llm_info.txt"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
addopts = ["-vv"]
log_cli = true
log_cli_level = "WARNING"
log_cli_format = "%(asctime)s | %(levelname)-7s | %(name)s | %(message)s"
testpaths = ["tests"]
norecursedirs = ["skill_library/skills/guided_conversation"]

[project.scripts]
run-routine = "skill_library.cli.run_routine:entry_point"
